<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="group4ConnectionString" connectionString=""
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
   
  </system.web>
  
  <appSettings>
    <add key="1"  value="Hardback" />
    <add key="2"  value="paperback" />
    <add key="3"  value="ebook" />
    <add key="4"  value="Hardback Boxset" />
    <add key="5"  value="paperback BoxSet" />
    <add key="6"  value="ebook BoxSet" />
    <add key="7"  value="Hardback and Ebook" />
    <add key="8"  value="Paperback and Ebook" />
    <add key="9"  value="Hardback Boxset and ebook BoxSet"/>
    <add key="10"  value="Paperback Boxset and ebook BoxSet"/>
    <add key="imageURL"  value="~/Images/Products/" />
    <add key="singleProduct" value="productDetails.aspx"/>
    <add key="tax" value=".07"/>
    <add key="StanderdShipping"  value="5.50"/>
    <add key="ExpressShipping" value="10.50"/>
    <add key="NextDayShipping" value="20.00"/>
  </appSettings>
</configuration>
